<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rejestracja - Nazwa Sklepu</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        html,
        body,
        form {
            height: 100%;
            overflow: hidden;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #login {
            padding: 20px;
            border: 1px solid black;
        }

        #login div {
            overflow: auto;
        }

        #login input {
            float: right;
        }

        button {
            clear: both;
        }

        .message {
            color: red;
        }
    </style>
</head>


<body>
    <header>
        <%- include('header', locals) %>
    </header>

    <form method="POST">
        <div id='login'>
            <div>
                Rejestracja
            </div>
            <div>
                <input type='text' name='login' />
                <label>Nazwa użytkownika:</label>
            </div>
            <div>
                <input type='password' name='password' />
                <label>Hasło:</label>
            </div>
            <div>
                <button>Zarejestruj</button>
            </div>
            <% if(error == 'taken') { %>
                <div class='message'>
                    <strong>Login zajęty!</strong>
                </div>
            <% } else if (error == 'empty') { %>
                <div class='message'>
                    <strong>Login i hasło nie mogą być puste!</strong>
                </div>
            <% } %>
            <% if(signed) { %>
                <div class='message'>
                    <strong>Rejestracja udana! Przejdź do Logowania, aby się zalogować.</strong>
                </div>
            <% } %>
        </div>
    </form>
</body>

</html>
